$classCol: col;
$gutter-width: 1%;
$column-width: (88%/12);

// responsive breakpoints
$xs: xs;
$sm: sm;
$md: md;
$lg: lg;
$xl: xl;

$breakpoints:  $sm, $md, $lg, $xl;

$breakpoint-xs: 575px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

$breaks: $breakpoint-sm, $breakpoint-md, $breakpoint-lg, $breakpoint-xl;

// for spacing
$sizes-name: 0;
$sizes: 0, 0.5rem, 1rem, 1.5rem, 2rem, 2.5rem, 3rem, 3.5rem, 4rem, 4.5rem, 5rem;
$side-name: "left", "right", "top", "bottom";

// flexbox $ text style
$display-flex: justify-content, align-content; 
$flex-name: start, end, around, between, center;
$flex-options: flex-start, flex-end, space-around, space-between, center;

$align-flex: align-items, align-self;
$align-names: start, end, center, stretch, baseline;
$align-options: flex-start, flex-end, center, stretch, baseline;

$text-align: start, end, center, justify;
$flex-direction: row, column, row-reverse, column-reverse; 

// colors
$primary:#4285F4;
$secondary:#aa66cc;
$default-color:#2BBBAD;
$danger:#ff4444;
$light:#fff;
$warning:#ffbb33;
$success:#00C851;
$info:#33b5e5;
$unique:#3F729B;
$bgcolor:#d1d1d1;

// change _font-color file if more colors are added
$colors: $primary, $secondary, $default-color, $danger, $light, $warning, $success, $info, $unique, $bgcolor;
$color-names: primary, secondary, default-color, danger, light, warning, success, info, unique, bgcolor;

$font-weights: lighter, bold, bolder;

